html {
  scroll-behavior: smooth;
}
body {
  background-color: #dad7cd;
}
form {
  width: 50%;
}
#contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 35px;
  background: url("./bg_img6.jpg") no-repeat center center/cover;
  color: white;
}

#contact-box form {
  width: 50%;
}

#contact-box label {
  font-size: 1.2rem;
  font-family: "Baloo 2", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}
#contact {
  position: relative;
}

#contact::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.9;
  background: url("./bg_img6.jpg") no-repeat center center/cover;
}

#contact-box input,
#contact-box textarea {
  width: 100%;
  padding: 0.9rem;
  border-radius: 12px;
  font-size: 1.2rem;
  color: black;
}
#navheader {
  background-color: #344e41;
  /* opacity: 0.8; */
}
.nava {
  color: white;
}
#titlebar {
  color: white;
}
#submitbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 88%;
  padding: 0.8rem;
  border-radius: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.1rem;
  /* background-color: #344e41; */
  background-color: #409f3e;
}
#submitbtn:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
  transition: 0.5s;
}
#herobtn {
  background-color: #344e41;
  color: white;
  font-weight: 600;
  font-size: 15px;
}
#herobtn:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
  transition: 0.5s;
}
.formheader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background: transparent;
  color: white;
  font-weight: 600;
}
.about-heading {
  display: flex;
  font-size: 2.5rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.about-content {
  width: 90%;
  margin: auto;
  margin-bottom: 25px;
  padding: 20px;
  border: 2px solid #344e41;
  border-radius: 12px;
}
#loginbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #344e41;
}
#loginbtn:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
  transition: 0.5s;
}
.result-table {
  background-color: #c6cfb5;
}
#prembtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #344e41;
  border: 1px solid #344e41;
  margin-bottom: 50px;
}
#prembtn:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #344e41;
  transform: scale(1.1);
  transition: 0.5s;
}
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}
rect {
  fill: none;
  margin: none;
}
form {
  width: 50%;
  margin-top: 10px;
  height: 100vh;
}

#contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 35px;
  color: black;
  background-color: #dad7cd;
}

#contact-box form {
  width: 50%;
}

#contact-box label {
  font-size: 1.2rem;
  font-family: "Baloo 2", cursive;
}
#contact {
  position: relative;
}

#contact::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.9;
  background: url("bg_img6.jpg");
}

#contact-box input,
#contact-box textarea {
  width: 100%;
  padding: 0.9rem;
  border-radius: 12px;
  font-size: 1.2rem;
  color: black;
}
.submitbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 85%;
  background-color: #344e41;
}
.submitbtn:hover {
  transform: scale(1.1);
  transition: 0.5s;
}